<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFr0uFZZWxaCpFRSywDDMyKdhadxzss_o</string>
	<key>GCM_SENDER_ID</key>
	<string>491919117032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBookingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterbookingapp-16b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterbookingapp-16b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491919117032:ios:d1a40494d8152d5f8fd75d</string>
</dict>
</plist>